:root {
    --clr-text: hsl(0, 0%, 77%);
    --clr-link-heading: hsl(46, 98%, 45%);
    --clr-background: hsl(210, 16%, 31%);
    --clr-borders: hsla(252, 10%, 80%, 0.15);
    --clr-borders-nav: hsla(34, 78%, 91%, 0.85);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -ms-overflow-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

}

html::-webkit-scrollbar {
    display: none;
}

body {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-blend-mode: darken;
    object-fit: fill;
    background-attachment: fixed;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ********* NAVBAR ********* */

nav {
    border-bottom: 2px solid var(--clr-borders);
    border-radius: 0 0 0.5rem 0.5rem;
    background-image: url(https://images.unsplash.com/photo-1664179550948-81c382b4fb31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2127&q=80);
    background-size: cover;
}

.navbar-brand {
    color: var(--clr-borders-nav);
    margin: 0 1%;
    font-size: 1.5em;
    text-align: left;
    text-transform: uppercase;
    transition: 1.25s ease-in-out;
}

.navbar-brand:hover {
    color: var(--clr-link-heading);
    text-shadow: 0 0 5px hsla(46, 100%, 50%, 0.75);
}

.navbar-toggler:visited {
    border: none;
}

.navlink {
    background: none;
    color: var(--clr-link-heading);
    padding: 0.25em;
    font-size: 1.25em;
    font-weight: 400;
    transition: all 0.2s;
    margin: 0 10px;
    text-decoration: none;
}

.navlink:hover {
    color: var(--clr-text);
    transform: translateY(-0.25em);
    cursor: pointer;
}

/* ********* CONTENT ********* */


h1 {
    color: var(--clr-link-heading);
    text-shadow: 0.15rem 0.15rem 0.5rem black;
    margin: 0.5em auto;
}

h1:hover,
h2:hover,
h3:hover {
    cursor: default;
}

p {
    color: var(--clr-text);
    font-weight: 400;
    font-size: 1.15em;
    text-shadow: 0.15rem 0.15rem 0.5rem black;
    cursor: default;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 1em;
}

.me {
    max-width: 350px;
    width: 100%;
    border: 3px solid var(--clr-borders);
    border-radius: 5% 15%;
    padding: 0;
    margin: 0;
}

/* ********* CAROUSEL ********* */

.caro {
    margin-bottom: 1em;
    padding: 0;
    width: 95%;
}

.caroImg {
    width: 100%;
    border: 3px solid var(--clr-borders);
    padding: 0;
    margin: 0;
    filter: brightness(35%);
}

.slideLabel {
    color: hsl(49, 95%, 42%);
    text-shadow: 0.15rem 0.15rem 0.5rem black;
}

.slideText {
    color: var(--clr-text);
    text-shadow: 0.15rem 0.15rem 0.5rem black;
}

/* ********* CONTACTS ********* */

input:-webkit-autofill {
    color: var(--clr-borders) !important;
}

.sent {
    color: var(--clr-borders-nav);
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.contact-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-size: cover;
    z-index: 9999;
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 100vw;
    min-width: 25vw;
    background-color: var(--clr-background);
    color: var(--clr-text);
    text-align: center;
    border: 0.125rem solid var(--clr-borders);
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0 1rem 1rem 1rem;
    transition: 0.25s ease-in-out;
}

.name,
.email,
.message {
    width: 100%;
    border-radius: 0.25rem;
    margin: 0.25rem 0.5rem 0.5rem 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--clr-borders);
    color: var(--clr-link-heading);
}

.formSubmit {
    width: 25%;
    background: var(--clr-borders);
    font-weight: 700;
    color: var(--clr-link-heading);
    border-color: var(--clr-link-heading);
    border-radius: 0.25rem;
}

.formSubmit:hover,
.formSubmit:focus {
    color: var(--clr-borders-nav);
    background-color: hsla(252, 10%, 80%, 0.025);
    box-shadow: 0 0 5px var(--clr-link-heading);
    transition: 0.1s ease-in;
}

/* ********* MEDIA QUERIES ********* */

@media (min-width: 768px) {

    .contact-form {
        width: 50vw;
    }

}

@media (min-width: 1200px) {

    p {
        font-size: 1.35em;
        margin: 1em 2em;
    }

    .about {
        flex-direction: row;
        width: 85%;
        margin: 12.5em auto;
    }

    .caro {
        margin-bottom: 1em;
        padding: 0;
        width: 85%;
    }

    .contact-form {
        width: 25vw;
    }
}