* {
    padding: 0;
    margin: 0;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background: url("/images/background.jpg");
    object-fit: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 80vh;
    max-width: 90%;
}

/* ************************* NAVIGATION ************************* */

#menuButton {
    background-color: none;
    backdrop-filter: blur(4px);
    color: antiquewhite;
    font-weight: 700;
    margin: 0.5rem 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#menuButton:hover {
    text-shadow: 0px 0px 4px rgba(253, 118, 56, 0.75), 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.15s ease-in-out;
}

.navbar {
    margin: 0;
    padding: 0;
}

.offcanvas {
    background-color: rgba(245, 56, 56, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
}

.offcanvas-header {
    background-color: rgba(49, 6, 0, 0.9);
    color: rgb(211, 211, 211);
    text-shadow: 0 0 3px antiquewhite;
    text-transform: uppercase;
    cursor: default;
    padding: 25px;
    font-weight: 700;
}

.btn-close:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.2s ease-in-out;
}

.linkMenu {
    list-style: none;
    padding-right: 15px;
}

.linkMenuItem {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    text-align: center;
    margin: 30px 25px 50px 0;
    padding: 45px 0;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(219, 219, 219);
    font-weight: 700;
    font-size: 1.5rem;
}

.link:hover,
.linkMenuItem:hover {
    text-shadow: 0px 0px 4px rgb(255, 81, 0), 0 0 2px rgba(255, 255, 255, 0.5);
    color: rgb(235, 235, 235);
    transform: translateX(10%);
    transition: 0.2s ease-in-out;
}

/* ************************* IMAGES ************************* */
.mainImage {
    max-width: 600px;
    width: 90vw;
    height: 95%;
    margin: 4.5rem 0 1.5rem 0;
    padding: 0 0 1rem 0;
}

.parImage {
    height: 100%;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.25);
}

.caroImage {
    display: block;
    border: 3px solid rgba(255, 255, 255, 0.25);
    border-bottom: 3px solid rgba(255, 255, 255, 0.25);
}

/* ************************* CONTENT ************************* */

.container-fluid {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 1.5rem auto;
}

a {
    text-decoration: none;
}

h1 {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 4px rgb(255, 120, 57), 0 0 3px rgba(255, 255, 255, 0.5);
    font-weight: 700;
    border-bottom: 2px solid rgba(48, 48, 48, 0.5);
    border-radius: 10px;
    margin: 0 1% 1% 1%;
}

p {
    font-size: 1.325rem;
    font-weight: 700;
}

.par1,
.par2 {

    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
    color: rgb(0, 0, 0);
    text-align: justify;
    text-justify: inter-word;
}

.heading {
    padding-top: 0.75rem;
    border: none;
}

.content {
    width: 100%;
    margin-top: 2rem;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

#muni,
#costumes {
    text-align: center;
    padding: 0.5rem 0 0 0;
}

.footer {
    color: rgb(240, 240, 240);
    text-shadow: 0px 0px 4px rgb(112, 38, 3), 0 0 3px rgrgba(207, 207, 207, 0.75);
    margin-bottom: 1rem;
}

@media (max-width: 1199px) {
    .info {
        padding: 0;
    }
}
