* {
    padding: 0;
    margin: 0;
}

body {
    background: url("images/background.jpg");
    object-fit: cover;
    background-attachment: fixed;
    font-family: 'Comfortaa', cursive;
}

main {
    height: 85vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

/* ************************* NAVIGATION ************************* */

#menuButton {
    background-color: none;
    color: antiquewhite;
    font-weight: 700;
    margin: 25px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
}

.navbar {
    margin: 0;
    padding: 0;
}

.offcanvas {
    background-color: rgba(245, 56, 56, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
}

.offcanvas-header {
    background-color: rgba(49, 6, 0, 0.9);
    color: rgb(211, 211, 211);
    text-shadow: 0 0 3px antiquewhite;
    text-transform: uppercase;
    cursor: default;
    padding: 25px;
    font-weight: 700;
}

.btn-close:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.2s ease-in-out;
}

.linkMenu {
    list-style: none;
    padding-right: 15px;
}

.linkMenuItem {
    /* background: url("https://images.unsplash.com/photo-1618123069754-cd64c230a169?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); */
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    text-align: center;
    margin: 30px 25px 50px 0;
    padding: 45px 0;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(219, 219, 219);
    font-weight: 700;
    font-size: 1.5rem;
}

.link:hover,
.linkMenuItem:hover {
    text-shadow: 0px 0px 4px rgb(255, 81, 0), 0 0 2px rgba(255, 255, 255, 0.5);
    color: rgb(235, 235, 235);
    transform: translateX(10%);
    transition: 0.2s ease-in-out;
}

/* ************************* IMAGES ************************* */
.mainImage {
    max-width: 600px;
    width: 90vw;
    height: 95%;
    margin: 5rem 0 0 0;
    padding: 0 0 1rem 0;
}

.parImage {
    border: 3px solid rgba(255, 255, 255, 0.25);
    border-radius: 5%;
}

/* ************************* CONTENT ************************* */

.container-fluid {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin: 0 auto 2.5rem auto;
}

h1 {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 4px rgb(255, 81, 0), 0 0 3px rgba(255, 255, 255, 0.5);
    font-weight: 700;
    border-bottom: 2px solid rgba(48, 48, 48, 0.5);
    border-radius: 10px;
}

p {
    font-size: 1.25rem;
    font-weight: 700;
}

.par1 {
    color: rgb(19, 19, 19);
    text-shadow: 0px 0px 4px rgb(255, 101, 30), 0 0 3px rgba(105, 105, 105, 0.75);
    padding: 0 35px;
}

.par2 {
    color: rgb(209, 209, 209);
    text-shadow: 0px 0px 4px rgb(48, 48, 48), 0 0 3px rgba(255, 17, 0, 0.75);
    padding: 0 35px;
}