:root {
    --fw-bold: 700;
}

body,
main {
    display: grid;
    place-content: center;
    gap: 2rem;
    padding: 1rem;
}

article {
    gap: 2rem;
}

section {
    width: 100%;
}

p {
    width: 100%;
}

.flex-center-column {
    display: grid;
    place-content: center;
}

.flex-center-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.heading {
    font-weight: var(--fw-bold);
}

.main-heading {
    text-align: center;
    font-size: 2rem;
}

.rand-activity__description {
    text-align: center;
}

.rand-movie-show {
    text-align: center;
}

.rand-movie-show__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 900px;
}

.rand-movie-show__section {
    display: grid;
    place-content: center;
    width: 100%;
}

.rand-movie-show__poster {
    max-height: 35rem;
}

.rand-movie-show__title {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.rand-movie-show__description {
    border-top: 1px solid hsla(0, 0%, 21%, 0.5);
    border-bottom: 1px solid hsla(0, 0%, 21%, 0.5);
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.rand-movie-show__info {
    width: 100%;
    display: inline-flex;
    gap: 1.5rem;
    font-size: 0.9rem;
}

@media (min-width: 769px) {
    .rand-movie-show__main {
        flex-direction: row;
    }
}