:root {
    --fw-bold: 700;

    --clr-border: hsla(0, 0%, 21%, 0.5);
    --clr-bg-light: hsl(0, 0%, 85%);
    --clr-bg-semi-light: hsl(0, 0%, 70%);
    --clr-bg-dark: hsla(0, 0%, 7.5%);
    --clr-accents: hsla(272, 55%, 42%, 0.75);
}

body {
    background-color: var(--clr-bg-dark);
    color: var(--clr-bg-semi-light);
    background-image: url('https://images.unsplash.com/photo-1568436015740-0a0bdc73a2d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3000&q=80');
    background-size: cover;
    background-blend-mode: multiply;
    display: grid;
    place-content: center;
    min-height: 100vh;
    gap: 2rem;
    padding: 1rem;
}

main {
    display: grid;
    place-content: center;
    gap: 2rem;
}

article {
    gap: 2rem;
}

section,
p {
    width: 100%;
}

.flex-center-column {
    display: grid;
    place-content: center;
}

.flex-center-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.heading {
    font-weight: var(--fw-bold);
}

.main-heading {
    text-align: center;
    font-size: 3rem;
    transform: rotate(-12.5deg);
    margin: 2rem 0;
}

.rand-movie-show__heading {
    font-size: 1rem;
}

.rand-movie-show {
    text-align: center;
}

.rand-movie-show__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
}

.rand-movie-show__section {
    display: grid;
    place-content: center;
    width: 100%;
    margin: 0 1rem;
}

.rand-movie-show__poster {
    box-shadow: 0.125rem 0.125rem 0.25rem var(--clr-border);
    border: 0.1875rem solid hsla(0, 0%, 100%, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
    max-height: 25rem;
}

.rand-movie-show__title {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.rand-movie-show__description {
    border-top: 0.125rem solid var(--clr-border);
    border-bottom: 0.125rem solid var(--clr-border);
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
}

.rand-movie-show__info {
    width: 100%;
    display: inline-flex;
    gap: 1.5rem;
    font-size: 0.8rem;
}

.button,
.button:active {
    background: none;
    color: var(--clr-bg-semi-light);
    border: 0.125rem solid var(--clr-bg-semi-light);
    margin: 1rem 0;
}

.button:hover,
.button:focus {
    outline: none;
    color: var(--clr-bg-light);
    border: 0.125rem solid var(--clr-bg-light);
    box-shadow: 0 0 0.5rem var(--clr-accents);
}

.attribution {
    text-align: center;
    color: var(--clr-bg-semi-light);
    opacity: 0.5;
    font-size: 0.6rem;
}

@media (min-width: 769px) {

    .rand-movie-show__main {
        flex-direction: row;
        min-width: 800px;
        max-width: 1200px;
    }

    .rand-movie-show__poster {
        max-height: 40rem;
    }

    .rand-movie-show__info,
    .button {
        font-size: 0.9rem;
    }

}

@media (min-width: 1921px) {

    .rand-movie-show__main {
        max-width: 1600px;
    }

    .main-heading {
        font-size: 4rem;
    }

    .rand-movie-show__poster {
        max-height: 60rem;
    }

    .rand-movie-show__heading {
        font-size: 1.625rem;
    }

    .rand-movie-show__title {
        font-size: 2.5rem;
    }

    .rand-movie-show__description {
        font-size: 1.75rem;
    }

    .rand-movie-show__info,
    .button {
        font-size: 1.5rem;
    }

}